@use '@/styles/variables' as *;

.footer {
  padding: 24px 32px;
}

.text {
  font-family: var(--font-sans);
  font-size: $fs-md;
  color: $fg-tertiary;
  line-height: 1.6;
  margin: 0 0 16px;
  text-align: center;
}
