.footer {
  padding: 24px 32px;
}

.text {
  margin: 0;
  font-family: var(--font-sans);
  font-size: 12px;
  line-height: 19.2px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #888;
}
