@use '@/styles/variables' as *;

.discoverWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0 8px;
}

.discoverBtn {
  color: $fg-tertiary;
  display: flex;
  align-items: center;
  transition: color 0.2s;

  &:hover {
    color: $fg-muted;
  }
}
